<div class="col-12 home-container">
    <div class="col-6 left-portion">
        <div class="branding">
            <h3><i class="fas fa-briefcase me-2"></i>EasyResume</h3>
        </div>
        <div class="intro-section">
            <h1 class="intro-heading"> Design a professional resume in minutes </h1>
            <p class="intro-text">Save time and effort with the easiest-to-use resume maker. 
                Impress hiring managers with a modern and effective resume and get the job your want.</p>
        </div>
        <div class="start">
            <button type="button" class="btn btn-lg btn-custom" (click)="navigateToBuilder()">
                <i class="fas fa-pencil-alt" style="font-size: larger; color: #8d8d8d;"></i>
                <span class="ms-2">START NOW</span>
            </button>
            <h6 style="display: inline; color: beige;" class="ms-3">No sign-in required</h6>
        </div>
        <div class="col-12 col-md-8 footer-section mb-5">
            <div class="footer-elem">
                <a href="https://www.linkedin.com/in/ritik-kumar-singh/" target="blank" style="height: 1rem;">
                    <img class="profile-pic" src="https://www.looper.com/img/gallery/the-untold-truth-of-popeye/intro-1623733114.jpg">
                    BY RITIKSINGH
                </a>
                <span class="vr"></span>
            </div>
            <div class="footer-elem">
                <i class="fas fa-globe me-2" style="font-size: larger;"></i>
                <select class="form-select" aria-label="Default select example">
                    <option selected>English</option>
                    <option value="1">French</option>
                    <option value="2">German</option>
                    <option value="3">Japanese</option>
                    <option value="3">Mandarin</option>
                  </select>
                  <span class="vr d-none d-md-block"></span>
            </div>
            <div class="footer-elem d-none d-md-block">
                <i class="fas fa-headset me-2"></i>
                <a href="gmail.com">Support</a>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>