<div class="col-12 home-container">
    <div class="col-6 left-portion">
        <div class="branding">
            <h3>EasyResume</h3>
        </div>
        <div class="intro-section">
            <h1 class="intro-heading"> Design a professional resume in minutes </h1>
            <p class="intro-text">Save time and effort with the easiest-to-use resume maker. 
                Impress hiring managers with a modern and effective resume and get the job your want.</p>
        </div>
        <div class="start">
            <button type="button" class="btn btn-lg btn-custom" (click)="navigateToBuilder()">
                <span>START NOW</span>
            </button>
            <h6 style="display: inline; color: beige;" class="ml-3">No sign-in required</h6>
        </div>
        <div class="footer-section mb-5">
            <div>
                <a href="https://www.linkedin.com/in/ritik-kumar-singh/" target="blank" style="height: 1rem;">
                    <img class="profile-pic" src="https://www.looper.com/img/gallery/the-untold-truth-of-popeye/intro-1623733114.jpg">
                    BY RITIKSINGH
                </a>
                <span class="vr"></span>
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <div>

    </div>
</div>