<div class="col-12 home-container">
    <div class="col-6 left-portion">
        <div class="branding">
            <h3>EasyResume</h3>
        </div>
        <div class="intro-section">
            <h1 class="intro-heading"> Design a professional resume in minutes </h1>
            <p class="intro-text">Save time and effort with the easiest-to-use resume maker. 
                Impress hiring managers with a modern and effective resume and get the job your want.</p>
        </div>
        <div class="start">

        </div>
        <div class="footer-section">

        </div>
    </div>
    <div>

    </div>
</div>